@tailwind base;
@tailwind components;
@tailwind utilities;

.__hero {
  background-image: linear-gradient(to right, black 10%, transparent),
    url("../public/images/hero1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.loading_animation * {
  animation: loading 0.5s ease-in both;
  -webkit-animation: loading 0.5s ease-in both;
  animation-fill-mode: both;
}
@keyframes loading {
  0% {
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
}
